.todo-item {
  width: 90%;
  margin: 1rem;
  height: 4rem;
  border-radius: 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.todo-item .check {
  background: url("/src/assets/circle.svg") no-repeat;
  background-size: 90%;
  background-position: center center;
  width: 2.5em;
  height: 2.5em;
  border: none;
  cursor: pointer;
}

.todo-item .check--active {
  background: url("/src/assets/circle-check.svg") no-repeat;
  background-size: 90%;
  background-position: center center;
  width: 2.5em;
  height: 2.5em;
  border: none;
  cursor: pointer;
  
}

.TodoItem-p  {
  width: 70%;
  
  /*   height: 100%; */
}
.TodoItem-p--complete{
  text-decoration: line-through;
}

.todo-item .close-item {
  background: url("/src/assets/x.svg") no-repeat;
  background-size: 90%;
  background-position: center center;
  width: 1.2em;
  height: 1.2em;
  border: none;
  cursor: pointer;
}

.todo-item .close-item:hover {
  background: url("/src/assets/x-red.svg") no-repeat;
  background-size: 90%;
  background-position: center center;
}