.contenButton{
  display:flex;
  justify-content:space-between;
  align-items:center;
  width: 100%;
  height: 4rem;
}
.createTodo {
  width: 65px;
  height: 4rem;
  font-size: 3rem;
  border: none;
  background-color: #7996f5;
  cursor: pointer;
  color: aliceblue;
  border-radius:50%;
  z-index: 1;
  /*   background: url("./assets/circle-check.svg") no-repeat;
  background-size: 90%;
  background-position: center center; */
}

.createTodo:hover {
  background-color: #5f7cd9; 
}


.byMe {
  color: #9098b9;
  font-size: 0.9rem;
  font-weight: 500;
}
.byMe a {
  flex: none;
  color: #9098b9;
  text-decoration: underline;
  transition: color ease .25s;
}
.byMe a:hover {
  color: var(--text-color);
  text-decoration: none;
}


